@import 'remixicon/fonts/remixicon.css';

@tailwind base;

@layer base {
  html {
    @apply scroll-smooth;
  }

  body {
    @apply delay-200 ease-linear transition-all text-black;
    background-color: #f0e7db;
  }

  body.dark {
    @apply antialiased text-white;
    background-color: #202023;
  }
}
@tailwind components;
@tailwind utilities;

@layer utilities {
  .checkbox:checked + .label .ball {
    transform: translateX(18px);
  }
}
